{{ define "header-nav" }}
<nav class="navbar navbar-expand navbar-light bg-white">
    <a class="sidebar-toggle d-flex mr-2">
        <i class="hamburger align-self-center"></i>
    </a>

    <form class="form-inline d-none d-sm-inline-block">
        <input class="form-control mr-sm-2" type="text" placeholder="Search projects" aria-label="Search">
    </form>

    <div class="navbar-collapse collapse">
        <ul class="navbar-nav ml-auto">

            {{ template "nav-messages" }}

            {{ template "nav-alerts" }}
            
            {{ template "nav-profile" }}
 
        </ul>
    </div>
</nav>

{{ end }}