<!doctype html>
<html lang="en">

{{ template "head-cheese" }}

<body>
  <div class="wrapper">
    <div class="d-flex">

      {{ template "sidebar" }}

      <div class="main">
        {{ template "header-nav" . }}
      </div>
    </div>
    <!-- d-flex -->
  </div>
  <!-- wrapper -->

  
    
  <script src="dist/js/app.js"></script>

  <!-- Optional JS modules -->
  <script src="/dist/js/charts.js"></script>
  <script src="/dist/js/forms.js"></script>
  <script src="/dist/js/maps.js"></script>
  <script src="/dist/js/tables.js"></script>

  </body>
</html>
