<!doctype html>
<html lang="en">

{{ template "head-cheese" . }}

<body>
  <div class="wrapper">
    <div class="d-flex">

      {{ template "sidebar" . }}

      <div class="main">
        {{ template "header-nav" . }}

        <main class="content">
          <div class="container-fluid p-0">
            <h1 class="h3 mb-3">{{ .Title }}</h1>

            <div class="row">

              <div class="col-12 col-lg-6">
                {{ template "recent-crawls" . }}
              </div>

              <div class="col-12 col-lg-6">
                {{ template  "site-list" . }}
              </div>

              <div class="col-12">
                {{ template "crawl-details" . }}
              </div>

            </div>  <!-- row -->
          </div> <!-- fluid container -->
  
    
  <script src="dist/js/app.js"></script>

  <!-- Optional JS modules -->
  <script src="/dist/js/charts.js"></script>
  <script src="/dist/js/forms.js"></script>
  <script src="/dist/js/maps.js"></script>
  <script src="/dist/js/tables.js"></script>

  </body>
</html>
