{{ define "nav-messages" }}
<li class="nav-item dropdown">
    <a class="nav-icon dropdown-toggle" href="#" id="messagesDropdown" data-toggle="dropdown">
        <div class="position-relative">
            <i class="align-middle" data-feather="message-circle"></i>
            <span class="indicator">{{ .MessageCount }}</span>
        </div>
    </a>
    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right py-0" aria-labelledby="messagesDropdown">
        <div class="dropdown-menu-header">
            <div class="position-relative">
                {{ .MessageCount }} New Messages
            </div>
        </div>

        <div class="list-group">
            {{ range .Messages }}
            <a href="{{ .URL }}" class="list-group-item">
                <div class="row no-gutters align-items-center">
                    <div class="col-2">
                        <img src="{{ .Avatar }}" class="avatar img-fluid rounded-circle" alt="{{ .Name }}">
                    </div>
                    <div class="col-10 pl-2">
                        <div class="text-dark">{{ .Name }}</div>
                        <div class="text-muted small mt-1">{{ .Subject }}
                        <div class="text-muted small mt-1">{{ .Date }}</div>
                    </div>
                </div>
            </a>
            {{ end }}
        </div>

        <div class="dropdown-menu-footer">
            <a href="#" class="text-muted">Show all messages</a>
        </div>
    </div>
</li>
{{ end }}