{{ define "site-list" }}
<div class="card">
    <div class="card-header">
        <h5 class="card-title">Site List</h5>
        <h6 class="card-subtitle text-muted">Sites currently crawled</h6>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Site Name</th>
                <th>IP Address</th>
                <th>Health</th>
            </tr>   
        </thead>
        <tbody>
            {{ range .Sites . }}
            <tr>
                <td>{{ .URL }}</td>
                <td>{{ .IPaddr }}</td>
                <td>{{ .Health }}</td>
            </tr> 
            {{ end }}
        </tbody>
    </table>
</div>
{{ end }}
