<!DOCTYPE html>
<html>

  {{ template "head.html" . }}

  <body>
    <div class="wrapper">
      <div class="d-flex">

	{{ template "header.html" . }}

	<main class="content">
	  <div class="container-fluid p-0">
	    {{ template "masthead.html" . }}

	    <div class="row">

	      <div class="col-6">
		{{ template "sites.html" . }}
	      </div>

	      <div class="col-6">
		{{ template "storage.html" . }}
	      </div>
	    </div> <!-- row -->	      
	  </div> <!-- container-fluid -->
	</main> <!-- content -->

	{{ template "footer.html" . }}

      </div> <!-- d-flex -->
    </div> <!-- wrapper -->
    <script src="/static/js/app.js"></script>
  </body>
</html>
