<div class="card">

  <!-- TODO ~ wrap the image in an if clause -->
  <img class="card-img-top" alt="{{.Alt}}" />

  <!-- card header -->
  <div class="card-header">
    <h5 class="card-title mb-0">{{ .Title }}</h5>
  </div> <!-- card-header -->

  <!-- card body -->
  <div class="card-body">
    <p class="card-text">
      {{ .Content }}
    </p> <!-- card-text -->

    {{ range .Links }}
    <a href="{{ .Link }}">{{ .Text }}</a>
    {{ end }}

  </div> <!-- card-body -->
  
</div> <!-- card -->
