<!DOCTYPE html>
<html>

  {{ template "head.html" . }}

  <body>
    <div class="wrapper">
      <div class="d-flex">

	{{ template "header.html" . }}

	<main class="content">
	  <div class="container-fluid p-0">
	    {{ template "masthead.html" . }}
	    <div class="row">

	      <div class="col-12">
		<div class="card">
		  <div class="card-header">
		  <h5 class="card-title mb-0">Card Title</h5>
		</div> <!-- card-header -->
		  <div class="card-body">
		  <p class="card-text">
		    This is a grand old card
		  </p> <!-- card-text -->
		</div> <!-- card-body -->
		</div> <!-- card -->
	      </div> <!-- col-12 -->
	      
	    </div> <!-- row -->	      
	  </div> <!-- container-fluid -->
	</main> <!-- content -->

      </div> <!-- d-flex -->
	
      {{ template "footer.html" . }}

    </div> <!-- wrapper -->
    <script src="/static/js/app.js"></script>
  </body>
</html>
