<!DOCTYPE html>
<html>

  {{ template "head.html" . }}

  <body>
    <div class="wrapper">
      <div class="d-flex">

	{{ template "header.html" . }}


	<main class="content">
	  <div class="container-fluid p-0">
	    {{ template "masthead.html" . }}
	    <div class="row">
	      <div class="col-6">

		{{ .Card }}

	      </div>

	      <div class="col-6">

		{{ .Card }}

	      </div>
	    </div> <!-- row -->	      
	  </div> <!-- container-fluid -->
	</main> <!-- content -->

      </div> <!-- d-flex -->
	
      {{ template "footer.html" . }}

    </div> <!-- wrapper -->
    <script src="/static/js/app.js"></script>
  </body>
</html>
